.buttons {
  height: 40px;
  border-radius: 30%;
  background: purple;
  color: whitesmoke;
  border-radius: 50px;
  text-align: center;
  font-size: 16px;

}

#header {
  text-align: center;
  margin: 0 auto;
  width: 400px;
  padding: 5px;
  background-color: brown;
  border-radius: 50px;
  opacity: .8;
}

.rPs {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 20px;
}

#list-head {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
}

#rules {
  text-align: center;
  font-size:15px;
  margin: 0 auto;
  width: 400px;
  background: black;
  border-radius: 50px;
  border-radius: 50px;
  opacity: .8;
;
}

#rules-intro {
  font-size: 20px;
}

#results {
  margin-left: 50px;
}

#radio {
  margin-left: 50px;
  background: turquoise;
  border-radius: 50px;
  text-align: center;
  margin: 0 auto;
  width: 400px;
  opacity: .9;
  color: purple;
  font-size: 21px;
  font-weight: 900;
}

#game-results {
  visibility: hidden;
  margin: 0 auto;
  width: 400px;
  background: blue;
  
  font-size: 30px;
  border-radius: 50px;
  text-align: center;
  opacity: .75;
}

.scoreboard {
  text-align: center;
  margin-bottom: 50px:
}

#scoreboard {
  background: red;
  font-weight: 600;
  margin: 0 auto;
  width: 400px;
  opacity: .84;
  font-size: 20px;
  border-radius: 50px;
  text-align: center;
}

#reset-button {
  margin: 0 auto;
}

#reset-button {
  margin: 15px;
  visibility: hidden;
}

#body {
  background-image: url(https://wp-assets.futurism.com/2014/05/rock-paper-scissors.jpg);
  color: whitesmoke;
}

#rule-heading {
  font-size: 28px;
}